[submodule ".make"]
	path = .make
	url = https://github.com/mateothegreat/.make
	branch = master
[submodule "k8-byexamples-ingress-controller"]
	path = k8-byexamples-ingress-controller
	url = https://github.com/mateothegreat/k8-byexamples-ingress-controller
